<div class="row">
  <div class="col-xl-4" *ngFor="let sale of sales">
    <app-card [hidHeader]="true">
      <h6 class="mb-4">{{ sale.label }}</h6>
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 class="f-w-300 d-flex align-items-center m-b-0">
            <i class="feather icon-bar-chart f-30 m-r-10"></i>
            {{ sale.amount }}
          </h3>
        </div>
        <div class="col-3 text-end">
          <p class="m-b-0">{{ sale.percentage }}</p>
        </div>
      </div>
    </app-card>
  </div>

  <div class="col-xl-8 col-md-6">
    <app-card cardTitle="Users From United States">
      <div id="world-low" style="height: 450px"></div>
    </app-card>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card bg-c-blue">
      <div class="card-header borderless">
        <h5 class="text-white">Earnings</h5>
      </div>
      <div class="card-block" style="padding: 0 25px">
        <div class="earning-text mb-0">
          <h3 class="mb-2 text-white f-w-300">
            $4295.36
            <i class="feather icon-arrow-up teal accent-3"></i>
          </h3>
          <span class="text-uppercase text-white d-block">Total Earnings</span>
        </div>
        <div id="widget-line-chart" class="WidgetlineChart2 ChartShadow" style="height: 180px"></div>
      </div>
    </div>

    <div class="card">
      <div class="card-block" *ngFor="let item of card">
        <div class="row d-flex align-items-center">
          <div class="col-auto">
            <i class="feather {{ item.icon }} f-30"></i>
          </div>
          <div class="col">
            <h3 class="f-w-300">{{ item.value }}</h3>
            <span class="d-block text-uppercase">{{ item.title }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4" *ngFor="let social of social_card">
    <div class="card card-social">
      <div class="card-block border-bottom">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            <i class="feather icon-share-2 f-36"></i>
          </div>
          <div class="col text-end">
            <h3>{{ social.followers }}</h3>
            <h5 class="text-muted mb-0">
              Total Followers – {{ social.platform }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Rating">
      <div class="row align-items-center justify-content-center m-b-20">
        <div class="col-6">
          <h2 class="f-w-300 d-flex align-items-center float-start m-0">
            4.7
            <i class="fas fa-star f-10 m-l-10 text-c-yellow"></i>
          </h2>
        </div>
        <div class="col-6">
          <h6 class="d-flex align-items-center float-end m-0">
            0.4
            <i class="fas fa-caret-up text-c-green f-22 m-l-10"></i>
          </h6>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12" *ngFor="let item of progressing; let last = last">
          <h6 class="align-items-center float-start">
            <i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>
            {{ item.title }}
          </h6>
          <h6 class="align-items-center float-end">{{ item.percent }}%</h6>
          <div class="m-t-30" [ngClass]="{ 'm-b-20': !last }">
            <ngb-progressbar type="success" height="6px" [value]="item.percent"></ngb-progressbar>
          </div>
        </div>
      </div>
    </app-card>
  </div>


</div>
